/* style.css */
*{
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(20, 12, 30);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    text-align: center;
}
header{
    font-size: 50px;
    align-items: center;
    padding: 1% 1%;
    color: rgb(243, 220, 193);
}

button {
    background-color: rgba(11, 2, 26, 0.52);
    color: rgb(243, 220, 193);
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    left: 48%;
}
.image-container{
    padding: 50%;
}

#randomImage{
    width: 40%;
    height: 40%;
    object-fit: contain;
}
